<h1>academy page</h1>
<h1><%= title %></h1>
<h2><%= crawl %> </h2>

<form action="/academy/addFave" method="POST">
    <input hidden type="text" name="title" value="<%= url %>">
    <input hidden type="text" name="title" value="<%= title %>">
    <button type="submit">Add to Favorites</button>
</form>