<h1>Films List</h1>

<h2>Titles</h2>
<% swFilms.forEach(title => { %>
    <br><br>
    <div>
        <a href="/films/<%= title.title %>"><%= title.title %></a>
        <% console.log(title.title) %>
    <h3>Directed by: <%= title.director %></h3>
    <p><%= title.opening_crawl %></p>
    </div>
<% }) %>
