<link rel="stylesheet" href="/static/css/style.css">
<h2>Skywalker Academy Home Page</h2>

<h1>Pick a category to discover</h1>

<div class="swPeople">
    <a href="people">People</a>
</div>
<div class="swPlanets">
    <a href="planets">Planets</a>
</div>