<link rel="stylesheet" href="/static/css/style.css">

<h1>Discover People and Planets</h1>

<div class="swPeople">
    <a href="people">People</a>
</div>
<div class="swPlanets">
    <a href="planets">Planets</a>
</div>