<h2>Skywalker Academy Home Page</h2>

<h1>Pick a category to discover</h1>

<!-- <div class="swFilms">
    <a href="films">Films</a>
</div> -->
<div class="swPeople">
    <a href="people">People</a>
</div>
<!-- / -->