<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <title>Skywalker Academy</title>
</head>
<body>
    <header>
        <h1>Skywalker Academy</h1>
        <nav>
            <ul>
              <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
              <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/favePeople">Favorite People</a> </li>
                <li><a href="/favePlanets">Favorite Planets</a> </li>
              <% } %>
            </ul>
          </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %> 
</body>
</html>