<form action="/planets" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="population">Population</label>
    <input type="text" id="population" name="population">
    <label for="terrain">Terrain</label>
    <input type="text" id="terrain" name="terrain">
    <label for="gravity">Gravity</label>
    <input type="text" id="gravity" name="gravity">
    <label for="diameter">Diameter</label>
    <input type="text" id="diameter" name="diameter">
    <input type="submit" value="Add a Planet">
</form>