<h1>Species List</h1>

<% swSpecies1.forEach(species => { %>
    <br><br>
    <div><%= species.name %>
    </div>
<% }) %>
<% swSpecies2.forEach(species => { %>
    <br><br>
    <div><%= species.name %>
    </div>
<% }) %>
<% swSpecies3.forEach(species => { %>
    <br><br>
    <div><%= species.name %>
    </div>
<% }) %>
<% swSpecies4.forEach(species => { %>
    <br><br>
    <div><%= species.name %>
    </div>
<% }) %>