<h1>Starships List</h1>

<% swStarships1.forEach(ship => { %>
    <br><br>
    <div><%= ship.name %>
    </div>
<% }) %>
<% swStarships2.forEach(ship => { %>
    <br><br>
    <div><%= ship.name %>
    </div>
<% }) %>
<% swStarships3.forEach(ship => { %>
    <br><br>
    <div><%= ship.name %>
    </div>
<% }) %>
<% swStarships4.forEach(ship => { %>
    <br><br>
    <div><%= ship.name %>
    </div>
<% }) %>