<link rel="stylesheet" href="/static/css/style.css">

<div class="page">
    <h1>Favorite Star Wars Planets</h1>

    <%results.forEach(result=> {%>
        <div>
            <h2><a href="/favePlanets/<%= result.name %>">
                    <%= result.name %>
                </a></h2>
        </div>
        <%})%>
</div>