<link rel="stylesheet" href="/static/css/style.css">

<h1>Add New Planet</h1>
<div class="form">
    <form action="/favePlanets/addFave" method="POST">
        <label for="name">Name</label>
        <input class="inpt"type="text" id="name" name="name"><br>
        <label for="population">Population</label>
        <input class="inpt" type="text" id="population" name="population"><br>
        <label for="terrain">Terrain</label>
        <input class="inpt" type="text" id="terrain" name="terrain"><br>
        <label for="gravity">Gravity</label>
        <input class="inpt" type="text" id="gravity" name="gravity"><br>
        <label for="diameter">Diameter</label>
        <input class="inpt" type="text" id="diameter" name="diameter"><br>
        <input type="submit" value="Add a Planet">
    </form>
</div>